<!DOCTYPE html>
<html lang="ko">

<head>
    <script src="/javascripts/jquery-3.7.1.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글조회</title>
    <style>
        header {
            background-color: #5228f5ff;
            height: 98px;
            position: relative;
        }

        h1 {
            text-align: left;
            margin-top: 50px;
            font-family: Inter;
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-left: 200px;
        }

        body {
            font-family: Arial, Inter;
            margin: 0;
            padding: 0;
        }

        .container {
            margin-top: 30px;
            text-align: left;
        }

        .form-group {
            margin-left: 200px;
        }

        hr {
            width: 75%;
            color: #333;
            margin-top: 20px;
            margin-bottom: 20px;
        }
       
        .btn {
            display: block;
            width: 150px;
            height: 50px;
            background: white;
            border: 0.5px solid black;
        }

        .Wbtn {
            display: block;
            width: 150px;
            height: 50px;
            background: #5228f5ff;
            border: 0.5px solid black;
            color: white;
        }

        label {
            margin-right: 150px;
        }

        #title {
            text-align: left;
            display: inline-block;
            width: 616px;
            height: 46px;
            border: 0.3px solid #DEF1E5;
            background: #FFFFFF;
        }

        .write-button {
            text-align: center;
        }

        .btn,
        .Wbtn {
            display: inline-block;
            background: #5228f5ff;
            border: 0.5px solid black;
            color: white;
        }

        input {
            text-align: left;
        }

        .no-file {
            color: gray;
        }

        span.logo {
            font-family: Inter;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-left: 150px;
            color: black;
            font-size: 40px;
            margin-top: 20px;
            display: inline-block;
            vertical-align: middle;
        }

        .comments-container {
            text-align: left;
            margin-top: 50px;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 150;
            line-height: normal;
            margin-left: 200px;
        }

        .no-comments {
            padding: 10px;
            text-align: left;
        }

        .comment-form {
            text-align: left;
            margin-top: 50px;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            margin-left: 50px;
        }
        
        textarea{
            text-align: left;
            margin-left: 200px;
            display : inline-block;
            width : 1150px;
            height : 80px;
            border : 0.3px  solid black;
            background: #FFFFFF;
        }
        textarea::placeholder {
            text-align: left;
            font-size: 15px;
        }
        .comments-list{
            width: 100%; 
        }
        h2{
            text-align: left;
            margin-top: 50px;
            font-family: Inter;
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            color: gray;
        }
    </style>
</head>

<body>
    <header>
        <span class="logo" style="cursor: pointer;" onclick="goTohome()">따릉이</span>
    </header>
    <h1>글조회</h1>
        <div class="container">
            <input type="hidden" name="F_Board_Id" value="<%=row.F_Board_Id %>" />
            <hr>
            <div class="form-group">
                <label for="title">제목</label>
                <td><%= row.F_Title %></td>
            </div>
            <hr>
            <div class="form-group">
                <label for="user-id">아이디</label>
                <td> <%= row.id %></td>
            </div>
            <hr>
            <div class="form-group">
                <label>내용</label>
                <td><%= row.F_MainText %></td>
            </div>
            <hr>
        </div>
        <div class="form-group">
            <label for="image">사진</label>
            <% if (row.F_Image) { %>
            <td><%= row.F_Image %></td>
            <% } else { %>
            <td class="no-file">첨부된 파일 없음</td>
            <% } %>
        </div>
        <hr>
        <div class="write-button">
            <button class="btn" type="button" style="cursor: pointer;" onclick="goToFreeboard()">뒤로가기</button>
        </div>
        <div class="comments-container">
            <h2 class="comments-title">댓글</h2>
            <div>
                <% if (comments && comments.length > 0) { %>
                <!-- 댓글이 있을 때의 처리 -->
                <div class="comments-list">
                    <% for (var i = 0; i < comments.length; i++) { %>
                        <span><%= comments[i].id %> : <%= comments[i].comment_text %></span>
                        <hr style="width: 85%; margin-right: 300px;">
                    <% } %>
                    </div>
                <% } 
                else { %>
                <!-- 댓글이 없을 때의 처리 -->
                <p class="no-comments">댓글이 없습니다.</p>
                <% } %>
            </div>   
        </div>
        <form action="/Freeread/<%=row.F_Board_Id%>/comments" id="postForm" method="post" >
            <input type="hidden" name="user_id" value="<%= user_id %>">
            <textarea id="comment_text" name="comment_text" required placeholder="댓글을 입력해주세요"></textarea>
            <div class="write-button">
            <button class="btn" type="submit" style="cursor: pointer;">댓글쓰기</button>
            </div>
        </form>
    <script>
        function goToFreeread(boardId) {
        window.location.href = '/Freeread/' + boardId;
        }
        function goTohome(){
            window.location.href = '/';
        }
        function goToFreeboard() {
            window.location.href = '/Freeboard';
        }
    </script>
</body>

</html>
