<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/manage.css' />
</head>

<body>
  <div class="menu-logo" id="hiddenMenu">
    <img src="/images/menu.png" alt="메뉴 로고">
  </div>
  <h1><%= title %></h1>
  <h2><%= subtitle %></h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>이메일</th>
        <th>이름</th>
        <th>전화번호</th>
        <th>주소</th>
        <th>성별</th>
        <th>나이</th>
        <th>등급</th>
        <th>상태</th>
        <th>상태 변경</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < rows.length; i++) { %>
      <tr>
        <td><%= rows[i].Id %></td>
        <td><%= rows[i].Email %></td>
        <td><%= rows[i].Name %></td>
        <td><%= rows[i].PhoneNum %></td>
        <td><%= rows[i].Address %></td>
        <td><%= rows[i].Gender %></td>
        <td><%= rows[i].Age %></td>
        <td><%= rows[i].Role %></td>
        <td><%= rows[i].UStatus === 1 ? '가입' : '탈퇴' %></td>
        <td>
          <button onclick="changeStatus('<%= rows[i].Id %>', '<%= rows[i].UStatus %>')">변경</button>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <div class="menu-area">
    <div class="menu-logo" id="activeMenu">
      <img src="/images/menu.png" alt="메뉴 로고">
    </div>
    <ul>
      <li><a href="/manage">회원 관리</a></li>
      <ul class="sub-menu">
        <li><a href="/manage">전체 회원 정보 조회</a></li>
        <li><a href="/manage/userInfo">가입 회원 정보 조회</a></li>
      </ul>
      <li><a href="/manage/bicycle">따릉이 관리</a></li>
      <li><a href="/manage/rental">고장신고 내역</a></li>
      <li><a href="#" onclick="logout()">로그아웃</a></li>
    </ul>
    <div class="home-logo">
      <a href="/manage">
        <img src="/images/home.png" alt="홈 로고">
      </a>
    </div>
  </div>

  <script>
    function calculateAge(birthday) { // 생년월일을 입력받아 만나이 계산
      var birthDate = new Date(birthday);
      var ageDifMs = Date.now() - birthDate.getTime();
      var ageDate = new Date(ageDifMs); // miliseconds from epoch
      return Math.abs(ageDate.getUTCFullYear() - 1970);
    }
  </script>
  <script>
    var menuActiveLogo = document.querySelector('#activeMenu');
    var menuHiddenLogo = document.querySelector('#hiddenMenu');

    var menuArea = document.querySelector('.menu-area');

    menuActiveLogo.addEventListener('click', function () {
      menuArea.classList.toggle('active');
      // menuArea.classList.toggle('hidden');
    });
    menuHiddenLogo.addEventListener('click', function () {
      menuArea.classList.toggle('active');
      // menuArea.classList.toggle('hidden');
    });
  </script>
  <script>
    function changeStatus(userId, currentStatus) {
      var message;
      var newStatus;
      console.log("상태 변경 요청:", userId);

      if (currentStatus == 1) {
        message = "사용자를 탈퇴시키겠습니까?";
        newStatus = 0;
      } else if (currentStatus == 0) {
        message = "이미 탈퇴된 회원입니다. 복귀시키겠습니까?";
        newStatus = 1;
      } else {
        // 현재 등급이 Admin이나 User가 아닌 경우
        alert("변경할 수 있는 상태가 아닙니다.");
        return;
      }

      // 확인 대화상자 표시
      if (confirm(message)) {
        // 서버에 변경 요청을 보냄
        // 여기서는 예시로 콘솔에 출력만 합니다.
        console.log("상태 변경 요청:", userId, "새 상태:", newStatus);
        // 실제 서버에 요청을 보내는 코드를 여기에 추가합니다.
      } else {
        // 취소한 경우
        console.log("상태 변경 취소됨");
      }
    }
  </script>
  <script src="/viewscripts/logout.js"></script>

</body>

</html>
