<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>이메일</th>
          <th>이름</th>
          <th>전화번호</th>
          <th>주소</th>
          <th>성별</th>
          <th>나이</th>
          <th>등급</th>
          <th>상태</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i < rows.length; i++) { %>
          <tr>
            <td><%= rows[i].Id %></td>
            <td><%= rows[i].Email %></td>
            <td><%= rows[i].Name %></td>
            <td><%= rows[i].PhoneNum %></td>
            <td><%= rows[i].Address %></td>
            <td><%= rows[i].Gender %></td>
            <td><%= rows[i].Age %></td>
            <td><%= rows[i].Role %></td>
            <td><%= rows[i].UStatus === 1 ? '가입' : '탈퇴' %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
    <script>
      function calculateAge(birthday) { // 생년월일을 입력받아 만나이 계산
        var birthDate = new Date(birthday);
        var ageDifMs = Date.now() - birthDate.getTime();
        var ageDate = new Date(ageDifMs); // miliseconds from epoch
        return Math.abs(ageDate.getUTCFullYear() - 1970);
      }
    </script>

  </body>
</html>
