<!DOCTYPE html>
<html lang="ko">
<head>
    <script src="/javascripts/jquery-3.7.1.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글조회</title>
    <style>
        h1{
            text-align: left;            
            margin-top: 50px;
            font-family: Inter;
            font-size: 30px;
            font-style: normal;
            font-weight: 5  00;
            line-height: normal;
            margin-left:200px ;
        }
        body {
            font-family: Arial, Inter;
            margin: 0;
            padding: 0;
        }
        .container{
            margin-top:30px;
            text-align: left;
        }
        .form-group{
            margin-left:200px;
        }
        hr{
            width: 75%;
            color: #333;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .btn{
           display: block;
           width: 150px;
           height : 50px;
           background : white;
           border: 0.5px solid black;
        }
        .Wbtn{
           display: block;
           width: 150px;
           height : 50px;
           background : #5228f5ff;
           border: 0.5px solid black;
           color: white;
        }
        label{
            margin-right: 150px;
        }
        #title{
            text-align: left;
            display : inline-block;
            width : 616px;
            height : 46px;
            border : 0.3px  solid #DEF1E5;
            background: #FFFFFF;
        }
        .write-button{
            text-align: center;
        }
        .btn,.Wbtn{
            display: inline-block;
        }
        input{
            text-align: left;
        }
        .no-file {
            color: gray;
        }
    </style>
</head>
<body>
    <h1>글조회</h1>
    <form action="/Reportboard/update" method="get">
    <div class="container">
             <input type="hidden" name="Q_Board_Id" value="<%=row.Q_Board_Id %>"/>
            <hr>
            <div class="form-group">
                <label for="title">제목</label>
                <td><%= row.Q_Title %></td>
            </div>
            <hr>
            <div class="form-group">
                <label for="user-id">아이디</label>
                <td> <%= row.id %></td>
            </div>
            <hr>
            <div class="form-group">
                <label>내용</label>
                <td><%= row.Q_MainText %></td>
            </div>
            <hr>
            </div>
            <div class="form-group">
                <label for="image">사진</label>
                <% if (row.Q_Image) { %>
                    <td><%= row.Q_Image %></td>
                <% } else { %>
                    <td class="no-file">첨부된 파일 없음</td>
                <% } %>
            </div>
            <hr>
        
        <div class="write-button">
            <button class="btn" type="button" style="cursor: pointer;" onclick="goToReportboard()">뒤로가기</button>
        </div>
    </form>
    <script>
        function goToReportboard() {
        window.location.href = '/Reportboard';
    }
    </script>
</body>
</html>